html {
    font-family: "Segoe UI", "San Francisco", "Source Sans Pro", sans-serif;
}

body {
    background: #1e1e1e;
}

#titlebar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 25px);
    height: 25px;
    -webkit-app-region: drag;
}

#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75px;
    width: 75px;
    left: 25px;
}

#info {
    position: absolute;
    top: 50%;
    left: 125px;
    transform: translateY(-50%);
}

#label {
    font-size: 18px;
}

#description {
    font-size: 14px
}

#stats {
    margin-top: 10px;
    font-size: 12px;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#backgroundInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    z-index: 5;
    display: block;
    text-align: center;

}

.backgroundText {
    font-size: 16px;
    font-weight: lighter;
    color: #cccccc;
}

.backgroundText a {
    color: #aaaaff
}

#backgroundLogo {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

#tabContainer {
    position: absolute;
    background: #252525;
    top: 0;
    left: 25px;
    right: 25px;
    height: 35px;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

#leftSeek, #rightSeek {
    position: absolute;
    background: #252525;
    top: 0;
    width: 25px;
    height: 23px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    padding: 6px 0px;
    font-weight: bolder;
    visibility: hidden;
    user-select: none;
}

#leftSeek {
    left: 0;
}

#rightSeek {
    right: 0;
}

.active-seek {
    color: #cccccc;
    cursor: pointer;
}

.inactive-seek {
    color: #666666;
    cursor: default;
}

#viewContainer {
    position: absolute;
    width: 100%;
    top: 35px;
    left: 0;
    bottom: 0;
    right: 0;
}

#xmlContainer {
    display: none;
    position: absolute;
    width: 50%;
    top: 35px;
    bottom: 0;
    right: 0;
    color: #FFF;
    font-size: 14px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    padding: 16px;

    -ms-word-wrap: break-word;
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

#backgroundInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    display: block;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    color: #cccccc;
}

#backgroundLogo {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
}

iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
}

.active {
    background: #1e1e1e;
    border: none;
    color: #ffffff;
}

.inactive {
    background: #2d2d2d;
    border-left: 0.5px solid #252525;
    border-right: 0.5px solid #252525;
    color: #cccccc;
}

.file-tab-label {
    position: relative;
    display: inline-block;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 15px);
}

.file-tab-close {
    position: relative;
    display: inline-block;
    top: 40%;
    transform: translateY(-50%);
    margin-left: 5px;
    width: 10px;
    color: #ffffff;
}

.file-tab {
    float: left;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    user-select: none;
}

.center-button {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button#showXMLBtn {
    background-color: #333;
}

.button {
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    transition: all .1s;
    font-family: inherit;
    cursor: pointer;
    font-size: 15px;
    color: #111;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    background-color: #ccc;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #202020 #1a1a1a #111;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #efefef, #777);
    background-image: -moz-linear-gradient(top, #efefef, #777);
    background-image: -o-linear-gradient(top, #efefef, #777);
    background-image: linear-gradient(to bottom, #efefef, #777);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #aaaaaa;
    background-image: -webkit-linear-gradient(top, #ccc, #555);
    background-image: -moz-linear-gradient(top, #ccc, #555);
    background-image: -o-linear-gradient(top, #ccc, #555);
    background-image: linear-gradient(to bottom, #ccc, #555);
}

.button:active, .button.active {
    background-color: #b42f32;
    border-color: #1c1c1c #202020 #222;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.lightGrey {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
    background-color: #303030;
    border-color: #1c1c1c #202020 #222;
    background-image: -webkit-linear-gradient(top, #8e8e8e, #434343);
    background-image: -moz-linear-gradient(top, #8e8e8e, #434343);
    background-image: -o-linear-gradient(top, #8e8e8e, #434343);
    background-image: linear-gradient(to bottom, #8e8e8e, #434343);
}

.lightGrey:hover {
    background-color: #313131;
    background-image: -webkit-linear-gradient(top, #7b7b7b, #2a2a2a);
    background-image: -moz-linear-gradient(top, #7b7b7b, #2a2a2a);
    background-image: -o-linear-gradient(top, #7b7b7b, #2a2a2a);
    background-image: linear-gradient(to bottom, #7b7b7b, #2a2a2a);
}

